<!--<form [formGroup]="form"></form>-->

<form [formGroup]="form"> 
    <div class="po-md-6" >
      <po-combo formControlName="codEstabel" [p-options]="listaEstabelecimentos" p-label="Estabelecimento"
        p-icon="bi bi-pin-map" p-placeholder="Selecione o estabelecimento" p-clean="true">
        <ng-template p-combo-option-template let-option>
          <div class="po-row">
            <po-icon class="po-sm-2 po-md-3 po-lg-1" p-size="sm" p-icon="bi bi-pin-map"></po-icon>
            <div class="po-sm-10 po-md-9 po-lg-11">
              <div class="po-font-text-large-bold">{{ option.label }}</div>
              <div class="po-font-text-smaller">Filial: {{ option.codFilial }}</div>
            </div>
          </div>
        </ng-template>
      </po-combo>
    </div>

    <div class="po-row">
        <div class="po-md-6">
            <po-divider p-label="Informações"></po-divider>
        <div>
    </div>

    <div class="po-row">
    
        <div class="po-md-6">
            <po-number class="po-md-6" formControlName="leadTime" name="leadtime" p-label="Lead Time" p-value="form.controls.leadTime.value"> </po-number>
        </div>
    </div>

    <br>
        
    <div class="po-row">
        <div class="po-md-6">
            <po-divider p-label="Controle"></po-divider>
        <div>
    </div>
    <div class="po-md-24">
      <po-input class="po-md-6" name="Inclusao"  formControlName="Inclusao"  p-label="Inclusão"  p-disabled="true"></po-input>
      <po-input class="po-md-6" name="Alteracao" formControlName="Alteracao" p-label="Alteração" p-disabled="true"></po-input>
    </div>
   
    <div class="po-row">
      <div class="po-md-12">
        <po-divider p-label="."></po-divider>
      <div>
    </div>
    <div class="po-md-12">
        <po-button p-label="Salvar"   (p-click)="onSalvar()"   p-icon="bi bi-plus" p-kind="primary" style="margin-right: 5px;"></po-button>
        <po-button p-label="Cancelar" (p-click)="onCancelar()" p-icon="bi bi-plus" p-kind="secondary"></po-button>
    </div>  
